.p-menubar .p-menubar-custom,
.p-menubar .p-menubar-end {
  -ms-grid-row-align: center;
  align-self: center;
  margin-right: auto;
  margin-left: 0;
}

div.p-carousel-container {
  direction: ltr;
}
ul.p-submenu-list {
  left: -200px !important;
}
span.p-submenu-icon.pi.pi-angle-right.ng-star-inserted {
  transform: scaleX(-1) !important;
}
.checkout {
  float: left !important;
}
.imagePlace {
  margin-right: 60px;
}
